// Auto genetated file
[
{
"name" : "encode - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "encode"
}
,
{
"name" : "encode - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "encode"
}
,
{
"name" : "encode - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "encode"
}
,
{
"name" : "encode - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "encode"
}
,
{
"name" : "decode - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "decode"
}
,
{
"name" : "decode - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "decode"
}
,
{
"name" : "decode - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "decode"
}
,
{
"name" : "decode - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "decode"
}
,
{
"name" : "neib - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "neib"
}
,
{
"name" : "neib - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "neib"
}
,
{
"name" : "neib - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "neib"
}
,
{
"name" : "neib - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "neib"
}
]
